<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   StatusInfo.plist
   TableViewTest

   Created by hxl on 16/6/29.
   Copyright (c) 2016年 hxl. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
